:root{
    --fontcolor: rgba(11, 37, 94, 0.938);
    --webbackgroundcolor: bisque;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    max-width: 960px;
    margin: auto;
    background-color: var(--webbackgroundcolor);
    color: var(--fontcolor)
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

a {
    word-break: break-all;
}

.contacts a:link{
    text-decoration: none;
}

.contacts a:visited {
    color: var(--fontcolor);
    text-decoration: none;
}

.contacts a:hover[href*='gmail'], a:hover[href*='github'], a:hover[href*='linkedin'] { 
    color: var(--fontcolor);
    text-decoration: none;        
}

.contacts a:active{
    color: var(--fontcolor);
    text-decoration: none;
}

hr {
    border: none;
    background-color: var(--fontcolor);
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid var(--fontcolor);
}

.gototopbtn{
    position: fixed;
    background: var(--fontcolor);
    color: var(--webbackgroundcolor);
    width: 45px;
    height: 45px;
    bottom: 1rem;
    right: 1rem;
    border-radius: 1.75rem;
    opacity: 80%;
    text-decoration: none;
    text-indent: 0.2rem;
    text-align: center;
    line-height: 2.75rem;
}